*,
*::before,
*::after {
	border: 0 none;
}

body {
	font-family: ui-sans-serif, Helvetica, Arial, sans-serif;

	color: #212529;
	background-color: #fcfcfc;
	font-size: 18px;
	margin-inline-start: 10px;
	margin-inline-end: 25px;
}

main {
	max-width: 1200px;
}

p {
	line-height: 140%;
}

code {
	font-family: ui-monospace, monospace;
	font-size: 90%;
	background-color: #f8f9fa;
	padding: 1px;
	border-radius: 2px;
}

table {
	display: block;
	overflow-x: auto;
}

.title:active,
.title:hover,
.title:visited,
.title:link {
	color: inherit;
	text-decoration-color: #adb5bd;
}

.ls-long,
.ls-short {
	overflow: auto;
}

.ls-long code,
.ls-short code {
	display: inline-block;
	padding: 4px;
	border-radius: 2px;
}

.ls-long code {
	height: 300px;
	overflow: auto;
}

.compliant-software span {
	display: inline-block;
	padding: 3px;
	margin: 2px;
	border-radius: 3px;
	background-color: #f1f3f5;
}

.github-title {
	background: #fff;
	border-radius: 6px;
	border: 1px solid rgb(208, 215, 222);
	padding: 8px;
	padding-block-start: 0;
}

.github-title .title :nth-child(1) {
	color: rgb(31, 35, 40);
	font-size: 38px;
}

.github-title .title :nth-child(2) {
	color: rgb(101, 109, 118);
	font-size: 38px;
}

.github-title .metadata .open {
	display: inline-flex;
	align-items: center;
	background-color: rgb(31, 136, 61);
	border-radius: 50px;
	padding: 5px 14px;
	gap: 1px;
	margin-right: 2px;
}

.github-title .metadata .open :nth-child(1) {
	display: flex;
	align-items: center;
	color: white;
}

.github-title .metadata .open :nth-child(2) {
	font-size: 16px;
	font-weight: lighter;
	color: white;
	margin-block-start: 2px;
}

.github-title .metadata :nth-child(2) {
	font-weight: bold;
	color: rgb(101, 109, 118);
	font-size: 16px;
}

.github-title .metadata :nth-child(3) {
	color: rgb(101, 109, 118);
	font-size: 16px;
}

.github-comment {
	display: flex;
	gap: 16px;
	max-width: 840px;
	background: #fff;
}

.github-comment code {
	background-color: rgba(175, 184, 193, 0.2);
	font-size: 15px;
	border-radius: 3px;
}

.github-comment p {
	margin-bottom: 0;
}

.github-comment .image > img {
	border-radius: 20px;
}

.github-comment .right {
	border: 1px solid rgb(208, 215, 222);
	border-radius: 6px;
	overflow: hidden;
}

.github-comment .header {
	background-color: rgb(246, 248, 250);
	border-bottom: 1px solid rgb(208, 215, 222);
	display: flex;
	align-items: center;
	padding-block: 6px;
}

.github-comment .header-text {
	margin-inline: 16px;
}

.github-comment .text {
	padding: 10px;
	word-wrap: break-word;
}

.github-comment .header-text :nth-child(1) {
	color: rgb(31, 35, 40);
	font-weight: bold;
	font-size: 16px;
}

.github-comment .header-text :nth-child(2) {
	color: rgb(101, 109, 118);
	font-size: 16px;
}


footer {
	text-align: center;
}

footer > :not(:last-child) {
	margin-inline-end: 5px;
}
